<ion-header>
  <ion-toolbar class="header-bg-color">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>bank-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="none">
  <ion-card>
    <ion-card-header class="ion-text-center ion-no-padding">
      <h3><u>Bank Detail</u></h3>
    </ion-card-header>
    <ion-card-content>
      <span class="field-color">IFSC : </span>{{bankDetails.ifsc}}<br>
      <span class="field-color">Bank Id : </span>{{bankDetails.bank_id}}<br>
      <span class="field-color">Branch : </span>{{bankDetails.branch}}<br>
      <span class="field-color">Address : </span>{{bankDetails.address}}<br>
      <span class="field-color">BankName : </span>{{bankDetails.bank_name}}<br>
      <span class="field-color">City : </span>{{bankDetails.city}}<br>
      <span class="field-color">District : </span>{{bankDetails.district}}<br>
      <span class="field-color">State : </span>{{bankDetails.state}}<br>
    </ion-card-content>
  </ion-card>
</ion-content>
